body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #17a2b8 !important;
  color: white;
}
.bg-card {
  /* background-color:#5f788a; */
  background-color:#0e5e97;
  color: white;
  font-size: large;
}

.site-header .navbar-nav{
  color: #cbd5db;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.bg-footer {
  background-color: #182929;
  color: white;
}


td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}

.btn-group.special {
  display: flex;
}
.special .btn {
  flex: 1
}

.dtsb-searchBuilder{
  background:silver !important;
  padding: 5px
}
.dt-button, .dtsb-add {
  background:gray !important;
}
