[tool.poetry]
name = "chima"
version = "0.0.37"
description = ""
readme = "README.md"
authors = []
packages = [
    { include = "chima", from = "src"}
]

[tool.poetry.dependencies]
python = "^3.7"
httpx = "0.23.3"
pydantic = "^1.9.2"

[tool.poetry.dev-dependencies]
mypy = "0.971"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
