body {
    background-color: #e7e6e1;
}

#font-logo {
    height: 40px;
}

#icon-logo {
    height:30px;
    margin-right: 10px;
}

.external-logo{
    height: 50px;
}

.black-color {
    color: #3c505a;
}

.table{
    font-size: 95%;
}